$body-bg: #D8D7D7;

@import "~bootstrap/scss/bootstrap";

body {
  background-color: $body-bg;
}

.card-title{
  color: black;
}

.row{
  background-color: white;
  border-radius: 5px;
  margin-left: 15%;
  margin-right: 15%;
}

.card-group{
  padding: 20px;
}

.card{
  margin: 15px;
}

@media (min-width: 576px) { 
  .card-group{
    .card{
      flex: none;
      margin-bottom: 15px;
    }
  }

  .container-fluid{
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    padding-left: 30px;
  }
  
  .card-deck{
    margin-left: 0;
  }
}

.col-lg-3 {
  padding-right: 0;
  padding-left: 0;
}

.col-md-4{
  padding-right: 0;
  padding-left: 0;
}

.card-footer{
  padding: 0;
}

.btn-block{
  height: 100%;
}

.header{
  background-color: #F04C4C;

}
